.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #DAA428;
    padding: 12px 24px;
    width: 140px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  /* Icon Styling */
  .btn-container i {
    font-size: 20px;
    color: white;
  }
  
  /* Hover Effect */
  .btn-container:hover {
    background: black;
    transform: scale(1.05);
  }
  
  .btn-container:hover i {
    color: #DAA428;
  }
  
  /* Click Effect */
  .btn-container:active {
    transform: scale(0.95);
  }
  